/* CSS Variables  */
:root {
  --primary-color: oklch(20.5% 0 0);
  --secondary-color: oklch(95% 0 0);
  --background-color: oklch(100% 0 0);
  --text-color: oklch(26.9% 0 0);
  --border-color: oklch(70.8% 0 0);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Quicksand", sans-serif;
}

table {
  width: 100%;
}

table th,
table td {
  padding: 12px 15px;
}

table th {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
  border: 1px solid var(--border-color);

  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='12' viewBox='0 0 24 24' width='12' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
  margin-top: 6px;
}

select:hover,
select:focus {
  box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.2);
  border-color: var(--border-color);
  outline: none;
}

label {
  font-weight: 500;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* LAYOUT  */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.btn {
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
  background-color: transparent;
}

.btn:hover {
  background-color: var(--secondary-color);
}

.active {
  background-color: var(--secondary-color);
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.btn-primary:hover {
  background-color: var(--primary-color);
  opacity: 90%;
}

.btn-secondary {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.btn-secondary:hover {
  opacity: 90%;
}

.btn-swap {
  background-color: var(--primary-color);
  color: white;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.btn-swap:hover {
  transform: rotate(180deg);
  background-color: var(--primary-color);
}

.input {
  border-radius: 5px;
  padding: 10px;
  border: solid 1px var(--border-color);
  outline: none;
  transition: all 0.3s ease;
  width: 100%;
  margin: 6px 0px;
}

.input:focus,
.input:hover {
  box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.2);
  border-color: var(--border-color);
}

/* components  */

.header {
  background-color: var(--secondary-color);
  padding: 40px 10px;
  border-radius: 10px;
  text-align: center;
}

.header-description {
  margin-top: 10px;
  color: var(--text-color);
  max-width: 600px;
  margin: 0 auto;
  padding: 10px 0px;
  text-align: center;
  line-height: 1.5;
}

.convert-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 40px 0px;
}

.convert-card {
  background-color: var(--secondary-color);
  padding: 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.convert-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-item {
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: 10px;
}

.select-option {
  width: 100%;
}

.search-section {
  width: 100%;
  display: flex;
  justify-content: end;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  width: 30%;
  padding: 0px 10px;
  margin: 20px 0;
}
.search-form:hover,
.search-form:active {
  box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.search-form input {
  border: none;
  outline: none;
  flex: 1;
  padding: 14px 0px;
}

.clear-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  transition: color 0.2s ease;
}

.clear-btn:hover {
  color: var(--secondary-color);
}

.search-results-info {
  margin: 10px 0;
  color: var(--text-color);
  font-style: italic;
}

.no-results {
  text-align: center;
  color: var(--text-color);
  font-style: italic;
  padding: 20px;
}

.table-description {
  text-align: center;
  font-size: 14px;
  padding: 10px 0px;
  font-style: italic;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 32px 0;
}

.popular-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.popular-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.popular-item {
  border: solid 1px var(--border-color);
  padding: 10px;
  border-radius: 5px;
}

.popular-item:hover {
  border-left: solid 5px var(--primary-color);
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.result-convert {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.error-message {
  font-weight: 500;
  color: red;
}

.loading-message {
  font-weight: 500;
  animation: all 0.5s ease-in-out infinite;
}

.currency-name {
  display: flex;
  gap: 10px;
  align-items: center;
}

@media (max-width: 768px) {
  table {
    display: block;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    font-size: 14px;
  }

  .header {
    padding: 20px 10px;
  }

  .convert-section {
    grid-template-columns: 1fr;
  }

  .search-form {
    width: 100%;
  }

  .popular-list {
    flex-direction: column;
  }

  .pagination {
    gap: 0;
    font-size: 14px;
  }
}
