/* CSS Variables  */
:root {
  --primary-color: oklch(20.5% 0 0);
  --secondary-color: oklch(95% 0 0);
  --background-color: oklch(100% 0 0);
  --text-color: oklch(26.9% 0 0);
  --border-color: oklch(70.8% 0 0);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Quicksand", sans-serif;
}

table {
  width: 100%;
}

table th,
table td {
  padding: 12px 15px;
}

table th {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #ccc;
  font-size: 16px;

  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='12' viewBox='0 0 24 24' width='12' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
}

label {
  font-weight: 500;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* LAYOUT  */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.btn {
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
  background-color: transparent;
}

.btn:hover {
  background-color: var(--secondary-color);
}

.btn:active {
  background-color: var(--primary-color);
  color: white;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.btn-primary:hover {
  background-color: var(--primary-color);
  opacity: 90%;
}

.btn-secondary {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.btn-secondary:hover {
  opacity: 90%;
}
.input {
  border-radius: 5px;
  padding: 10px;
  border: solid 1px var(--border-color);
  outline: none;
  transition: all 0.3s ease;
  width: 100%;
}

.input:focus,
.input:hover {
  box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.2);
  border-color: var(--border-color);
}

/* components  */

.header {
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.header-description {
  margin-top: 10px;
  color: var(--text-color);
  max-width: 600px;
  margin: 0 auto;
  padding: 10px 0px;
  text-align: center;
  line-height: 1.5;
}

.convert-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 20px 0px;
}

.convert-card {
  background-color: var(--secondary-color);
  padding: 32px;
  border-radius: 10px;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.convert-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-item {
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: 10px;
}

.select-option {
  width: 100%;
}

.search-section {
  width: 100%;
  display: flex;
  justify-content: end;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  max-width: 500px;
  width: 30%;
  padding: 10px;
  margin: 20px 0;
}

.search-form input {
  border: none;
  outline: none;
  flex: 1;
}

.table-description {
  text-align: center;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 0;
}

.popular-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0px;
}

.popular-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.popular-item {
  border: solid 1px var(--border-color);
  padding: 10px;
  border-radius: 5px;
}

.result-convert {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
